/* Google Search Icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

:root {
    --c-black: rgb(30, 32, 32);
    --c-red: rgb(206, 66, 43);
    --c-white: rgb(246, 234, 224);
    --c-grey: rgb(139, 132, 127);
    --c-grey-hover: rgb(152, 147, 142);
    --c-blue-hover: rgb(67, 120, 211);

    --grid-item-size: 90px;
    --grid-item-gap: 5px;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--c-white) !important;
    font-family: 'Roboto', sans-serif;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: opacity 5s;

    filter: brightness(.55);
}

#next-bg {
    opacity: 0;
}

#logo-img {
    height: 60px;
}

.text-title {
    width: fit-content !important;
    display: inline;
    font-weight: bold;
}

.wrapper {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.title-box {
    background-color: color-mix(in srgb, var(--c-grey) 80%, transparent);
    backdrop-filter: blur(2.5px);
}

.items-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: fit-content;

    gap: var(--grid-item-gap);
    margin-block: 15px !important;
    margin-inline: 12.5px !important;

    max-height: calc( (var(--grid-item-size) + var(--grid-item-gap)) * 2 );
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    scroll-behavior: smooth;
}
.items-container::-webkit-scrollbar {
    display: none;
}

#all-items-container {
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: var(--grid-item-size);
    width: calc(  (var(--grid-item-size) * 7)  +  (var(--grid-item-gap) * 6)  );
    min-height: calc(  (var(--grid-item-size) * 5)  +  (var(--grid-item-gap) * 5)  );
}


.item-box {
    user-select: none;

    height: var(--grid-item-size);
    width: var(--grid-item-size);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: color-mix(in srgb, var(--c-grey) 50%, transparent);
    backdrop-filter: blur(2.5px);

    transition: background-color 0.2s;
}
.item-box:hover {
    background-color: color-mix(in srgb, var(--c-grey-hover) 50%, transparent);
}
.item-box:hover img {
    animation: item-box-popup 0.5s ease-in;
}
.item-box:not(.empty):hover {
    cursor: pointer;
}
.item-count-input-wrapper {
    display: flex;
}
.item-counter, .item-count-input-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 2px;
    padding-right: 3px !important;
    font-weight: bold;
    font-size: 85%;
}
.items-container .item-box:last-child {
    /* Fixing gap on the last row */
    margin-bottom: var(--grid-item-gap) !important;
}

.item-box img {
    height: 80%;
    width: 80%;
}

#items-search {
    flex-grow: 100;
}
#items-search, #items-search:focus, .item-count-input, .item-count-input:focus {
    background-color: transparent;
    border: none;
    outline: none;
}
#items-search::placeholder, .item-count-input::placeholder {
    color: var(--c-white);
}
#items-search:focus::placeholder, .item-count-input:focus:placeholder {
    color: transparent;
}
#items-search:hover, .item-count-input:hover {
    cursor: pointer;
}
.item-count-input {
    width: 1ch;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes item-box-popup {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.focused {
    background-color: color-mix(in srgb, var(--c-blue-hover) 60%, transparent) !important;
}

#clear-button {
    transition: color 0.1s;
    user-select: none;
}

#clear-button:hover {
    cursor: pointer;
    color: var(--c-grey-hover) !important;
}

.deleting-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;

    transition: right 800ms;
    background-color: color-mix(in srgb, var(--c-red) 60%, transparent) !important;
    z-index: -1;
}